@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
body,
html {
  margin: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

.main_container {
  max-width: 1440px;
  margin: auto;
  position: relative;
}

.header {
  padding: 1rem 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1000;
}
.header__logo {
  font-family: "Shrikhand", "cursive";
  margin: 0;
  text-align: center;
}

.footer {
  background-color: #353535;
}
.footer .container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.footer__logo {
  color: white;
  font-family: "Shrikhand", "cursive";
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__listElement {
  margin: 0.5rem 0;
  gap: 7px;
  display: flex;
  flex-direction: column;
}
.footer__listElement:first-child {
  margin-top: 0;
}
.footer__listElement:last-child {
  margin-bottom: 0;
}
.footer__link {
  color: white;
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: none;
}
.footer__icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__item {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  animation: jump 1s;
  animation-iteration-count: 1;
}
.loader__itemContainer {
  display: flex;
  width: 5rem;
  justify-content: space-between;
}
.loader__item--1 {
  background-color: #9356dc;
}
.loader__item--2 {
  background-color: #ff79da;
  animation-delay: 0.25s;
}
.loader__item--3 {
  background-color: #99e2d0;
  animation-delay: 0.5s;
}

.localisation {
  display: flex;
  justify-content: center;
  padding: 1.25rem 1rem;
  background-color: rgb(243, 243, 243);
  font-size: 1.2rem;
  position: relative;
}
.localisation__icon {
  margin-right: 1rem;
}
.localisation__text {
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0;
}

.about {
  padding: 2rem;
  text-align: center;
  background-color: rgb(250, 250, 250);
}
.about__title {
  margin: 0;
}
.about__subtitle {
  font-weight: 300;
  margin: 1.5rem 0;
}
.about__btn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: white;
  background-color: rgb(104, 104, 104);
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9) 0%, rgba(255, 121, 218, 0.9) 100%);
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.about__btn:hover {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}
.about__btn a {
  text-decoration: none;
  color: inherit;
}

.function {
  padding: 2rem 1rem;
}
.function__title {
  margin-top: 0;
}
.function__steps {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: compteListe;
}
@media (min-width: 64rem) {
  .function__steps {
    display: flex;
  }
}
.function element.style {
  text-decoration: none;
}
.function__step {
  padding: 1.5rem;
  margin: 1rem 0 1rem 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
}
@media (min-width: 64rem) {
  .function__step {
    flex: 1;
    margin: 0;
    margin-left: 2rem;
  }
  .function__step:first-child {
    margin-left: 0.75rem;
  }
}
.function__step a,
.function__step a:visited,
.function__step a:hover,
.function__step a:focus {
  text-decoration: none !important;
  color: inherit;
}
.function__step .about__btn a {
  text-decoration: none !important;
  color: inherit;
}
.function__step:first-child {
  margin-top: 0;
}
.function__step:last-child {
  margin-bottom: 0;
}
.function__step::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356dc;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -0.75rem;
}
.function__icon {
  margin-right: 1rem;
  color: #7e7e7e;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
}
.restaurants__title {
  margin-top: 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  /*   display: flex;
  flex-direction: column; */
}
@media (min-width: 64rem) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    /*     display: flex;
    justify-content: space-between;
    flex-flow: row wrap; */
  }
}

.card {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}
.card__img {
  height: 12rem;
  width: 100%;
  border: transparent solid 0px;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}
.card__badge {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}
.card__footer {
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}
.card__content {
  flex: 1;
}
.card__title {
  margin: 0;
  margin-bottom: 0.25rem;
}
.card__subtitle {
  margin: 0;
}
.card__btn {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__like {
  background-color: white !important;
}
.card:hover {
  -ms-transform: scale(1.019); /* IE 9 */
  -webkit-transform: scale(1.019); /* Safari 3-8 */
  transform: scale(1.015);
}
.card:active {
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

.header--pourmenupage {
  position: relative;
}
.header__previous {
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: black;
}

.RestaurantImg {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
}

.menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}
.menu__header {
  padding: 1rem 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__title {
  font-family: "Shrikhand", "cursive";
}
.menu__btn {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: black;
}
.menu__btn .about__btn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: white;
  background-color: rgb(104, 104, 104);
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9) 0%, rgba(255, 121, 218, 0.9) 100%);
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.menu__btn .about__btn:hover {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}
.menu__btn .about__btn a {
  text-decoration: none;
  color: inherit;
}
.menu__btn .about__btn a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  position: relative;
}
.menu__btn .about__btn:hover {
  text-decoration: none;
}
.menu__btn .about__btn:hover a {
  text-decoration: none;
}
.menu__btn:hover::before {
  opacity: 1;
}
.menu__btn::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
}
.menu__like {
  transition-duration: 0.25s;
  background-color: #f6f6f6;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: lighten;
}
.menu__btn:hover .menu__like--noBg {
  opacity: 0;
}

.submenus {
  display: grid;
}
@media (min-width: 64rem) {
  .submenus {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }
}

a {
  text-decoration: none !important;
  color: inherit;
}

.submenu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;
}
.submenu__title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: normal;
}
.submenu__title::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.menuItem {
  background-color: white;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  animation: itemAppear 0.6s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
  max-width: 100%;
}
.menuItem__header {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
.menuItem__title {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuItem__description {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuItem__price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
}
.menuItem__confirmation {
  background-color: #99e2d0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.menuItem:hover .menuItem__confirmation {
  margin-right: -1rem;
}
.menuItem__wrapIcon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
.menuItem:hover .menuItem__wrapIcon {
  transform: rotate(0);
}
.menuItem__icon {
  color: #99e2d0;
}

.delay-0 {
  animation-delay: 1/10s;
}

.delay-1 {
  animation-delay: 1/10s;
}

.delay-2 {
  animation-delay: 1/10s;
}

.delay-3 {
  animation-delay: 1/10s;
}

.delay-4 {
  animation-delay: 1/10s;
}

.delay-5 {
  animation-delay: 1/10s;
}

.delay-6 {
  animation-delay: 1/10s;
}

.delay-7 {
  animation-delay: 1/10s;
}

.delay-8 {
  animation-delay: 1/10s;
}

.wrapBtn {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 3rem 0;
}

.commandBtn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: white;
  background-color: rgb(104, 104, 104);
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9) 0%, rgba(255, 121, 218, 0.9) 100%);
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.commandBtn:hover {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}
.commandBtn a {
  text-decoration: none;
  color: inherit;
}

/*# sourceMappingURL=style.css.map */
